<template>
    <div id="about">
        <navigation-bar></navigation-bar>
    </div>
</template>
<script>
import navigationBar from '../components/navigationBar.vue';
export default {
    name: 'about',
    data() {
        return {

        }
    },
    components:{
        navigationBar
    }
}
</script>