<template>
    <div id="setting">
        <navigation-bar></navigation-bar>
    </div>
</template>
<script>
import navigationBar from '../components/navigationBar.vue';
export default {
    name: 'setting',
    data() {
        return {

        }
    },
    components:{
        navigationBar
    }
}
</script>
