<template>
    <div id="navigation">
        <router-link to="home">首页</router-link>
        <router-link to="newsList">日报列表</router-link>        
        <router-link to="themeList">主题列表</router-link>        
        <router-link to="setting">设置</router-link>
        <router-link to="about">关于</router-link>
    </div>
</template>
<script>
export default {
    name: 'navigation',
    data() {
        return {

        }
    }
}
</script>
